* {
    padding: 0;
    margin: 0;
}

h1 {
    color: darkgreen;
    margin-top: 15px;
}

p {
    color: darkgreen;
}

.instructions {
    color: darkorange;
    font-weight: bold;
    width: 80%;
    margin: 20px auto;
}

.hangContain {
    border: 1px dashed black;
    width: 75%;
    height: 375px; 
    margin-bottom: 10px;
  }

  button {
      display: inline-block;
      margin-top: 35px;
      padding: 10px;
      cursor: pointer;   
      color: #f4f4f4;
      background: linear-gradient(#1488cc, #2b32b2);
    font-size: 1.5rem;
    font-weight: bold;
  }

  button:hover {
    color: lightskyblue;
  }

  .gameStats {
      margin-top: 20px;
  }

  #chances {
      color: lightskyblue;
      font-weight: bold;
  }

  #correct {
      color: darkgreen;
      font-weight: bold;
  }

  #incorrect {
      color: darkred;
      font-weight: bold;
  }

  #attempts {
      color: #f4f4f4;
      font-weight: bold;
  }

 #letterbtn {
     border: none;
     border-radius: 2px; 
     margin: 5px; 
 }

 #underscores {
     text-align: center;
     letter-spacing: 10px;
     color: white;  
     
 }


#map {
    height: 500px;
    width: 75%;
    margin: 30px auto;
}

.container {
    margin-top: 50px;
}



/* Hangman Strucuture */



/* Hangman Strucuture / */