* {
    padding: 0;
    margin: 0;
}

h1 {
    color: darkgreen;
    margin-top: 15px;
}

p {
    color: darkgreen;
}

.instructions {
    color: #4b6cb7;
    font-weight: bold;
    width: 80%;
    margin: 20px auto;
}

.hangContain {
    border: 1px dashed black;
    width: 75%;
    height: 375px; 
    margin-bottom: 10px;
  }

  /* button {
      display: inline-block;
      margin-top: 35px;
      padding: 10px;
      cursor: pointer;   
      color: #f4f4f4;
      background: linear-gradient(#1488cc, #2b32b2);
    font-size: 1.5rem;
    font-weight: bold;
  }

  button:hover {
    color: lightskyblue;
  } */

  .gameStats {
      margin-top: 20px;
  }

  #chances {
      color: lightskyblue;
      font-weight: bold;
  }

  #correct {
      color: darkgreen;
      font-weight: bold;
  }

  #incorrect {
      color: red;
      font-weight: bold;
  }

  #attempts {
      color: #52bab3;
      font-weight: bold;
  }

 #letterbtn {
     border: none;
     border-radius: 2px; 
     margin: 5px; 
 }

 #underscores {
     text-align: center;
     letter-spacing: 10px;
     color: white;  
     
 }


#map {
    height: 500px;
    width: 75%;
    margin: 30px auto;
}

.container {
    margin-top: 50px;
}

/* To custimize the buttons for the alphabet */

button#letterbtn {
    background: linear-gradient(#00c6ff, #0072ff);
    color: whitesmoke;
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

/* To custimize the buttons for the alphabet  / */




/* Hangman Strucuture */

.hangman-piece {
    display: none;
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: black;
}

/* Hangman pieces (in order) */
.hangman-piece.active {
    display: block;
}

/* To organize the first 2 elements for the post and rope */
.postUp.hangman-piece.active,
.postRight.hangman-piece.active {
    display: inline-block;
    margin: 1px;
}
/* To organize the first 2 elements for the post and rope  / */

.postUp.hangman-piece.active {
    width: 15px;
    height: 365px; 
    background-color: black;
}

.postRight.hangman-piece.active {
    width: 250px;
    height: 10px;
    position: absolute;
    background-color: black;
}


.rope.hangman-piece.active {
    width: 5px;
    height: 150px;
    background-color: black;
    margin-left: 265px;
    bottom: 366px;
    position: relative;
}

.head.hangman-piece.active {
    width: 30px;
    height: 30px;
    margin-left: 252px;
    bottom: 370px;
    position: relative;
    background-color: black;
}

.body.hangman-piece.active {
    width: 18px;
    height: 40px;
    margin-left: 258px;
    bottom: 374px;
    position: relative;
    background-color: black;
}

.leftArm.hangman-piece.active {
    width: 5px;
    height: 20px;
    margin-left: 247px;
    bottom: 414px;
    position: relative;
    transform: rotate(130deg);
    background-color: black;
}


.rightArm.hangman-piece.active {
    width: 5px;
    height: 20px;
    margin-left: 281px;
    bottom: 440px;
    position: relative;
    transform: rotate(45deg);
    background-color: black;
}

.leftLeg.hangman-piece.active {
    width: 5px;
    height: 20px;
    margin-left: 250px;
    bottom: 432px;
    position: relative;
    transform: rotate(40deg);
    background-color: black;
}

.rightLeg.hangman-piece.active {
    width: 5px;
    height: 20px;
    margin-left: 279px;
    bottom: 457px;
    position: relative;
    transform: rotate(140deg);
    background-color: black;
}

.floor.hangman-piece.active {
    width: 250px;
    height: 7px;
    position: relative;
    margin: 0;
    bottom: 345px;
    background-color: black;
}

/* Hangman pieces (in order)  / */

/* Hangman Strucuture / */